/******************************
Nicole Iwasaki, created 9/14/15
GENERAL
******************************/



body {
 font-family: "Arvo", sans-serif;
}

a {
  text-decoration: none;
}

#wrapper {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 5%;
}

img {
  max-width:100%;
}

h3 {
  margin: 0 0 1em 0;
  font-size: 1em;
}

/******************************
HEADING
******************************/

/*removes weird margin space at top page : TRBL*/
header {
  float: left;
  margin: 0 0 30px 0;
  padding: 5px 0 0 0;
  width: 100%;
}

#logo {
  text-align: center;
  margin: 0;
}

h1 {
  font-family: "Poiret One", sans-serif;
  margin: 15px 0;
  font-size: 1.75em;
  font-weight: normal;
  line-height: 0.8em;
}

h2 {
  font-size: .75em;
  margin: -5px 0 0;
  font-weight: normal;
}



/******************************
Navigation
******************************/


nav {
  text-align: center;
  padding: 10px 0;
  margin: 20px 0 0;
}

nav ul {
  list-style: none;
  margin: 0 10px;
  padding: 0;
}

nav li {
  display: inline-block;
}

nav a {
  font-weight: 800;
  padding: 10px 10px;
}

#galnav {
  margin-top: -8px;
}


/******************************
FOOTER
******************************/


footer {
  font-size: 0.75em;
  text-align: center;
  clear: both;
  padding-top: 50px;
  color: #ccc;
}

.social-icon {
  width: 30px;
  height: 30px;
  margin: 0 5px;
}


/******************************
PAGE: Gallery
******************************/



#gallery {
  margin: 0;
  padding: 0;
  list-style: none;
}

#gallery li {
 float: left;
 width: 45%;
 margin: 2.5%;
 background-color: #f5f5f5;
 color: #bdc3c7;
}

#gallery li a p {
 margin: 0;
 padding: 5%;
 font-size: 0.75em;
 color: #9da3a7;
}



/******************************
PAGE: Portfolio
******************************/


ul.welcomepg {
  padding: 0 .5em 0 0;
  margin: 0;
  list-style: none;
  text-align: center;
}


ul.welcomepg li {
 display: inline-block;
 width: 30%;
 margin: -20px .5em 0;
 background-color: #f5f5f5;
 color: #bdc3c7;
}

ul.welcomepg li:nth-child(2){
  width: 18.2%;
}

span.text-content {
  background: rgba(0,0,0,0.5);
  color: white;
  cursor: pointer;
  display: table;
  padding: 0 .5em 0 0;
  margin: -3em 0 3em 0;
  list-style: none;
  text-align: center;
  font-size: 1em;
  opacity: 0;
}

span.text-content li:nth-child(2){
  width: 18.2%;
}

ul.welcomepg li:hover span.text-content {
  opacity: 1;
}

span.text-content span{
  display: table-cell;
  text-align: center;
  vertical align: middle;
}



/******************************
PAGE: ABOUT
******************************/


.profile-photo {
  display: block;
  max-width: 150px;
  margin: 0 auto 10px;
  border-radius: 100%;
}


/******************************
PAGE: CONTACT
******************************/



.contact-info {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-size: 0.9em;
}

.contact-info a {
  display: block;
  min-height: 20px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  padding: 0 0 0 30px;
  margin: 0 0 10px;
}

.contact-info li.phone a {
  background-image: url('../img/phone.png');
}

.contact-info li.mail a {
  background-image: url('../img/mail.png');
}



/******************************
PAGE: ACRO
******************************/


#Rsidebar {
  float: right;
  margin-left: 0;
  text-align: left;
  width: 20.33%;
  font-size: 0.75em;
  color: #9da3a7;
  background-color: #f5f5f5;
  color: #bdc3c7;
}

#acrogal {
  float: left;
  width: 75.5%;
  font-size: 0.75em;
  color: #9da3a7;
  background-color: #f5f5f5;
  color: #bdc3c7;
}



/******************************
COLORS
******************************/

/*links*/
a {
  color: #7ab3b7;
}

/*header/logo*/
header {
  background: #7ab3b7;
  border-color: #00919d;
}

/* logo text */
h1, h2{
  color: #fff;
}

/* nav bar on mobile*/
nav{
  background: #00918c;
}

/*nav links*/
nav a, nav a:visited {
  color: #fff;
}

nav a.selected, nav a:hover {
  color: #777;
}

/*site body and text colors*/
body {
  background-color: #eee;
  color: #999;
}
